<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs', { user: locals.user }) %>

<div class="container">
    <h2>Your Profile</h2>
    <form class="form-horizontal" id="profileForm">
        <div class="form-group">
            <div id="saveResult"></div>
            <img
            <% if(hasProfilePic) { %>
                src="uploads/<%= applicant._id %>/profilePicture.png" 
            <% } else { %>
                src="img/blank-profile-picture-973460_1280.webp"
            <% } %>
            alt="Profile Picture" class="col-sm-3" id="profilePicturePreview" />
            <div class="col-sm-10">
                <input type="file" name="profilePicture" id="profilePicture" />
                <button type="button" id="clearProfilePictureButton">x</button>
            </div>
            
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-10">
                <input type="text" name="name" id="name" value="<%= applicant.name %>" />
            </div>

            <label class="control-label col-sm-2" for="surname">Surname:</label>
            <div class="col-sm-10">
                <input type="text" name="surname" id="surname" value="<%= applicant.surname %>" />
            </div>

            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
                <input type="email" name="email" id="email" value="<%= applicant.email %>" />
            </div>
            <label class="control-label col-sm-2" for="skillsSearchBar">Umiejętności:</label>
            <%- include('../partials/skillsComponent.ejs', {ableToCreate: false, pickedSkills: locals.pickedSkills}) %>

            <label class="control-label col-sm-2" for="number">Phone:</label>
            <div class="col-sm-10">
                <input type="tel" name="phoneNumber" id="number" value="<%= applicant.phoneNumber %>" />
            </div>

            <label class="control-label col-sm-2" for="birthdate">Birthdate:</label>
            <div class="col-sm-10">
                
                <input type="date" name="birthDate" id="birthdate" <% if(applicant.birthDate != null) {%> value="<%= applicant.birthDate.toISOString().split('T')[0] %>"  <% } %>/>
               
            </div>

            <label class="control-label col-sm-2" for="homeAddress">Home Address:</label>
            <div class="col-sm-10">
                <input type="text" name="homeAddress" id="homeAddress" value="<%= applicant.homeAddress %>" />
            </div>

            <label class="control-label col-sm-2" for="links">Links:</label>
            <!-- prefix: "links" -->
            <div class="col-sm-10" id="links-inputArray">
                <!-- TODO: Initialize varingSizeInputArray.js script currentArrayLen variable -->
                <% if(applicant.links != null) { for(let i = 0; i < applicant.links.length; i++) { %>
                    <input value="<%= applicant.links[i] %>" class="links-array-input" type="text" id="links-input<%= i %>" />
                    <button type="button" class="links-array-remove" id="links-<%= i %>">x</button>
                <% }} %>
                <button id="links-arrayAdd">+</button>
            </div>
        </div>
        <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" id="saveProfileBtn" value="zapisz" class="btn btn-default" />
            </div>
        </div>
    </form>
    <form>
        Your Files
        <div id="files">
            <% if(applicant.uploadedDocuments != null) { for(let i = 0; i < applicant.uploadedDocuments.length; i++) { %>
                <div id="file<%= i %>">
                    <span id="filename<%= i %>"><%= applicant.uploadedDocuments[i] %></span>
                    <button type="button" class="file-remove" id="buttonFile-<%= i %>">x</button>
                </div>
            <% }} %>
        </div>   
        <div class="col-sm-10">
            <input type="button" id="loadFileXml" value="Dodaj Plik" onclick="document.getElementById('addfile').click();" />
            <input type="file" style=display:none id="addfile" name="file"/>
        </div>
    </form>
</div>

<script type="module">
    import { initializeVaryingSizeInputArray } from '/js/varyingSizeInputArray.js';
    initializeVaryingSizeInputArray('links', 0, 8);
</script>
<script src="js/profilePicturePreview.js"></script>
<script src="js/addFile.js"></script>
<script src="js/submitProfileForm.js"></script>
<%- include('../partials/footer.ejs') %>
