<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>


<div class="container h-100">
    <div class="d-flex align-items-center justify-content-center">Aplikacje na stanowisko: <%= jobOffer.title %></div>
    <div class="row d-flex align-items-center justify-content-center h-100 text-center">
        <% applications.forEach( application => { %>
        <a href="/show_application/?_id=<%=application._id%>" class="d-flex w-100 justify-content-center">
            <div>
                <div>Godność: <%= applicantsWithId[application.applicant_id].name %> <%= applicantsWithId[application.applicant_id].surname %></div>
                <div>Data aplikacji: <%= application.applicationDate.toString().slice(0, 15) %></div>
                    <% if(application.relativeDocuments.length > 0) { %>
                    <div>Załączone dokumenty: <% application.relativeDocuments.forEach( document => { %>
                        <%= document %>
                        <% })}%>
                    </div>
                </div>
                <% }); %>
            </div>
        </a>
    </div>
</div>

<%- include('../partials/footer.ejs') %>