<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 mx-auto text-center bg-white p-3">
            <h1 class="textTitle">Dodaj ofertę pracy</h1>
            <form class="form-horizontal" id="offerForm">
                <div class="form-group">
                    <label class="control-label col-sm-8 pt-2 pb-1 m-0" for="title">Tytuł ogłoszenia:</label>
                    <div class="col-sm-8 mx-auto">
                        <input type="text" name="title" id="title" value="<% if(locals.offer && offer.title != null) {%><%= offer.title %> <% } %>" required="" class="form-control shadow bg-white rounded"/><br/>
                    </div>

                    <label class="control-label col-sm-8 pt-2 pb-1 m-0" for="description">Opis ogłoszenia:</label>
                    <div class="col-sm-8 mx-auto">
                        <textarea id="description" name="description" rows="8" cols="64" class="form-control shadow bg-white rounded"><% if(locals.offer && offer.description != null) {%><%= offer.description %> <% } %></textarea><br/>
                    </div>

                    <label class="control-label col-sm-8 pt-2 pb-1 m-0">Tryb pracy:</label>
                    <div class="col-sm-8 mx-auto form-check">
                        <input type="checkbox" id="inOffice" name="mode0" class="form-check-input" <% if(locals.offer && offer.mode.includes(0)) {%>checked=""<% } %>>
                        <label for="inOffice" class="form-check-label"> Stacjonarny</label><br/>
                        <input type="checkbox" id="hybrid" name="mode1" class="form-check-input" <% if(locals.offer && offer.mode.includes(1)) {%>checked=""<% } %>>
                        <label for="hybrid" class="form-check-label"> Hybrydowy </label><br/>
                        <input type="checkbox" id="remote" name="mode2" class="form-check-input" <% if(locals.offer && offer.mode.includes(2)) {%>checked=""<% } %>>
                        <label for="remote" class="form-check-label"> Zdalny   </label><br/><br/>                
                    </div>

                    <label class="control-label col-sm-8 pt-2 pb-1 m-0" for="salary">Wynagrodzenie:</label>
                    <div class="col-sm-8 mx-auto">
                        <input type="text" name="salary" id="salary" value="<% if(locals.offer && offer.salary != null) {%><%= offer.salary %> <% } %>" class="form-control shadow bg-white rounded"/><br/>
                    </div>
                    
                    <label class="control-label col-sm-8 pt-2 pb-1 m-0" for="requirements">Wymagania:</label>
                    <%- include('../partials/skillsComponent.ejs', {ableToCreate: false}) %>

                    <label class="control-label col-sm-8 pt-2 pb-1 m-0" for="location">Lokalizacja:</label>
                    <div class="col-sm-8 mx-auto">
                        <input type="text" name="location" id="location" value="<% if(locals.offer && offer.location != null) {%><%= offer.location %> <% } %>" class="form-control shadow bg-white rounded"/><br/>
                    </div>

                    <label class="control-label col-sm-8 pt-2 pb-1 m-0" for="industry">Branża:</label>
                    <div class="col-sm-8 mx-auto" id="industry">
                        <input type="text" name="industry" id="industry" value="<% if(locals.offer && offer.industry != null) {%><%= offer.industry %> <% } %>" class="form-control shadow bg-white rounded"/><br/>
                    </div>


                    <label class="control-label col-sm-8 pt-2 pb-1 m-0" for="additionalQuestions">Dodatkowe pytania:</label>
                    <div class="col-sm-8 mx-auto" id="additionalQuestions-inputArray">
                        <% if(locals.offer && offer.additionalQuestions != null) { for(let i = 0; i < offer.additionalQuestions.length; i++) { %>
                            <input value="<%= offer.additionalQuestions[i] %>" class="additionalQuestions-array-input" type="text" id="additionalQuestions-input<%= i %>" class="form-control shadow bg-white rounded"/><br/>
                            <button type="button" class="additionalQuestions-array-remove" id="additionalQuestions-<%= i %>">x</button>
                        <% }} %>
                        <button id="additionalQuestions-arrayAdd">+</button>
                    </div>

                    <label class="control-label col-sm-8 pt-2 pb-1 m-0" for="keywords">Słowa kluczowe:</label>
                    <div class="col-sm-8 mx-auto" id="keywords-inputArray">
                        <% if(locals.offer && offer.keywords != null) { for(let i = 0; i < offer.keywords.length; i++) { %>
                            <input value="<%= offer.keywords[i] %>" class="keywords-array-input" type="text" id="keywords-input<%= i %>" class="form-control shadow bg-white rounded"/><br/>
                            <button type="button" class="keywords-array-remove" id="keywords-<%= i %>">x</button>
                        <% }} %>
                        <button id="keywords-arrayAdd">+</button>
                    </div>


                    <label class="control-label col-sm-8 pt-2 pb-1 m-0" for="expiryDate">Data wygaśnięcia:</label>
                    <div class="col-sm-8 mx-auto">
                        <input type="date" name="expiryDate" id="expiryDate" value="<% if(locals.offer && offer.expiryDate != null) {%><%=offer.expiryDate.toISOString().split('T')[0]%><% } %>" class="form-control shadow bg-white rounded"/><br/>
                    </div>

                        <!-- TODO: implement requirements module -->
                        <!-- temporary disabled field -->
                        <input value="64397e2fbed0bea2e17824d2" type="hidden" name="organisation_id" id="organisation_id">
                </div>
                <div class="col-sm-offset-2 col-sm-12">
                    <button type="submit" class="btn" id="submitBtn">Opublikuj</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="module">
    import { initializeVaryingSizeInputArray } from '/js/varyingSizeInputArray.js';
    initializeVaryingSizeInputArray('additionalQuestions', 0, 16);
    initializeVaryingSizeInputArray('keywords', 0, 16);
</script>
<script type="module">
    <% var offer_id = locals.offer ? offer._id : null;%>
    import { initializeModifyOfferSubmitListener } from '/js/modifyOffer.js';
    initializeModifyOfferSubmitListener("<%=offer_id%>");
</script>
<%- include('../partials/footer.ejs') %>
