<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>

<div class="container h-100" style="padding-top: 150px;">
    <div class="row d-flex align-items-up justify-content-center h-100">
        <div class="col-md-8 mx-auto text-center bg-white p-3">
            <h1 class="col-sm-8 mx-auto text-center"><%=jobOffer.title %></h3>
            <% if (jobOffer.description) { %>
            <h5 class="col-sm-8 mx-auto"><%=jobOffer.description %></h5>
            <% } %>
            <% if (jobOffer.mode) { %> 
            <div class="row">
            <h5 class="col-sm-5 mx-auto text-left">Tryb pracy:</h5>
            <% jobOffer.mode.forEach((mode, index)=> {%>                
                    <% if (mode==0){ %>
                        <h5 class="col-sm-5 mx-auto text-right">Stacjonarny</h5>
                        </div>
                        <% if (index!==jobOffer.mode.length-1){ %>
                            <div class="row">
                            <h5 class="col-sm-5 mx-auto text-left"></h5>
                        <%}%>
                    <% } else if (mode==1){ %>
                        <h5 class="col-sm-5 mx-auto text-right">Hybrydowy</h5>
                        </div>
                        <% if (index!==jobOffer.mode.length-1){ %>
                            <div class="row">
                            <h5 class="col-sm-5 mx-auto text-left"></h5>
                        <%}%>
                    <% } else{ %>
                        <h5 class="col-sm-5 mx-auto text-right">Zdalny</h5>
                        </div>
                        <% if (index!==jobOffer.mode.length-1){ %>
                           <div class="row">
                           <h5 class="col-sm-5 mx-auto text-left"></h5>
                        <%}%>
                <% }})} %>
                <div class = "row">
                    <h5 class="col-sm-5 mx-auto text-left">Wymagane umiejętności:</h5>
                    <div class="col-sm-5 mx-auto text-center"> <%- include('../partials/skillsLister.ejs', { skills: locals.skillsNames }) %></div>
                    </div>
            <% if (jobOffer.salary) { %>
            <div class="row">
                <h5 class="col-sm-5 mx-auto text-left">Wynagrodzenie:</h5>
                <h5 class="col-sm-5 mx-auto text-right"> <%=jobOffer.salary %></h5>
            </div>
            <% } %>
            <% if (jobOffer.location) { %>
            <div class="row">
                <h5 class="col-sm-5 mx-auto text-left">Lokalizacja:</h5>
                <h5 class="col-sm-5 mx-auto text-right"> <%=jobOffer.location %></h5>
            </div>
            <% } %>
            <% if (jobOffer.industry) { %>
                <div class="row">
                    <h5 class="col-sm-5 mx-auto text-left">Branża:</h5>
                    <h5 class="col-sm-5 mx-auto text-right"> <%=jobOffer.industry%></h5>
                </div>
                <% } %>
            <% if (jobOffer.expiryDate) { %>
            <div class="row">
                <h5 class="col-sm-5 mx-auto text-left">Oferta ważna do:</h5>
                <h5 class="col-sm-5 mx-auto text-right"> <%=jobOffer.expiryDate.toISOString().split('T')[0]%></h5>
            </div>
            <% } %>
            <div class="col-sm-8 mx-auto">
                <span class="errorMessageText" id="message"></span>
            </div>
            <a href="/applicant/apply/?id=<%= jobOffer.id %>">
                <button class="btn">Aplikuj</button>
            </a>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
