<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container h-100">
    <div class="row d-flex align-items-up justify-content-center h-100">
        <div class="col-md-6 mx-auto text-center bg-white p-3">
            <h3 class="col-sm-8 mx-auto"><%=jobOffer.title %></h3>
            <h5 class="col-sm-8 mx-auto"><%=jobOffer.description %></h5>
            <h5 class="col-sm-8 mx-auto">Salary: <%=jobOffer.salary %></h5>
            <h5 class="col-sm-8 mx-auto">Location: <%=jobOffer.location %></h5>
            <h5 class="col-sm-8 mx-auto">Expiry Date<%=jobOffer.expiryDate %></h5>
            <div class="col-sm-8 mx-auto">
                <span class="errorMessageText" id="message"></span>
            </div>
            <a href="/advert/apply/?id=<%= jobOffer.id %>">
                <button>Aplikuj</button>
            </a>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>