<% applications.forEach( application => { 
    const lastStage = stages[application.jobOffer_id];
    const date = lastStage ? new Date(lastStage.lastChange).toLocaleString("pl-PL") : "01.01.1970";
    const name = jobOffersWithId[application.jobOffer_id].title;
    const organisation = organisations[application.jobOffer_id];
%>
<tr>
        <td><%= name %></td>
        <td><%= new Date(application.applicationDate).toLocaleString("pl-PL") %></td>
        <td><%= lastStage ? lastStage.name : "nieokreślony" %> (<%= lastStage ? lastStage.getStatus() : "nieokreślony" %>, <%= lastStage ? lastStage.description : "" %>)</td>
        <td><%= date %></td>
        <td><%= organisation ? organisation.name : "-"%></td> 
</tr>    
<%}) %>