<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>

<div class='container'>
    <div>
        <% applications.forEach( application => { 
            const lastStage = stages[application.jobOffer_id];
            const date = lastStage ? new Date(lastStage.lastChange).toLocaleString("pl-PL") : "01.01.1970";
            %>
            <div class='flex-item text-center'>
                <div><%= jobOffersWithId[application.jobOffer_id].title %></div>
                <div>Data aplikacji: <%= new Date(application.applicationDate).toLocaleString("pl-PL") %></div>
                <div>Stan aplikacji: <%=  lastStage ? lastStage.name : "nieokreślony" %> (<%= lastStage ? lastStage.getStatus() : "nieokreślony" %>, ostatnia aktualizacja <%= date %>)</div>
                <!--TODO display organization but at the moment there is no organization model-->
            </div>
            <br>
        <% }) %>
    </div>
</div>

<%- include('../partials/footer.ejs') %>