<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>


<div class="container" style="padding-top: 50px; padding-bottom: 50px;">
    <div class="row d-flex align-items-up justify-content-center h-100">
        <div class="col-md-8 mx-auto text-center bg-white p-3">
            <h3 class="d-flex justify-content-center flex-column text-center w-100">Aplikacje na stanowisko: <%= jobOffer.title %></h3>
            <br>
            <h3 class="d-flex justify-content-center flex-column text-center w-100">Wybierz kryterium sortowania</h3>
            <form class="form-horizontal" id="sortForm" method="post">
                <select class="col-md-8 shadow" id="criterion" name="criterion">
                    <option value="alphabetically">Alfabetycznie</option>
                    <option value="oldest">Od Najstarszej</option>
                    <option value="newest">Od Najnowszej</option>
                </select> 
                <input class="col-sm-0" type="hidden" id="jobOfferObject" name="jobOfferObject" value="<%=jobOffer._id%>"/>
            </form>
            <br>
            <div id = "applicationList">
                <%- include('employer_application_list.ejs')%>
            </div>
        </div>
    </div>
</div>

<script src='/js/applicationSorter.js'></script>

<%- include('../partials/footer.ejs') %>