<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>

<div class="container h-100 w-75 d-flex align-items-center justify-content-center mt-4" >
    <div class="p-3 w-100 flex-item" style="background-color: white;">
        <div class="text-center p-2" style="background-color: #445766;color: white;">Aplikacja na stanowisko: <%= jobOffer.title %></div>
        <div class="flex-item text-center">
            <div class="p-2">Data aplikacji: <%= new Date(application.applicationDate).toLocaleString("pl-PL") %></div>
            <div class="p-2">Stan aplikacji: <%=  lastStage ? lastStage.name : "nieokreślony" %> (<%= lastStage ? lastStage.getStatus() : "nieokreślony" %>, ostatnia aktualizacja <%= lastStage ? new Date(lastStage.lastChange).toLocaleString("pl-PL") : "01.01.1970" %>)</div>
            <div class="p-2">Godność: <%= applicant.name %> <%= applicant.surname %></div>
            <div class="p-2">Email: <%= applicant.email %></div>
            <% if(applicant.phoneNumber) {%>
            <div class="p-2">Numer telefonu: <%= applicant.phoneNumber %></div>
            <% } %>
            <% if(applicant.address) {%>
            <div class="p-2">Adres: <%= applicant.address %></div>
            <% } %>
            <% if(applicant.birthDate) {%>
            <div class="p-2">Data urodzenia: <%= new Date(applicant.birthDate).toLocaleDateString("pl-PL") %></div>
            <% } %>
            <% if(application.relativeDocuments.length > 0) { %>
                <div class="text-center p-2" style="background-color: #445766;color: white;">Załączone dokumenty: </div><% application.relativeDocuments.forEach( document => { %>
                <div class="p-2">
                    <a href="/uploads/<%= applicant._id %>/docs/<%= document %>" download>
                        <%= document %>
                    </a>
                </div>
            <% })}%>
            <% if(applicant.links.length > 0) { %>
                <div class="text-center p-2" style="background-color: #445766;color: white;">Załączone linki:</div>
                <% applicant.links.forEach( link => { %>
                    <a href="<%=link%>" class="p-2" target="_blank"><%= link %></a>
            <% })}%>
            <% if(application.questionAnswers) { %>
                <div class="text-center p-2" style="background-color: #445766;color: white;">Odpowiedzi na pytania: </div>
                <div>
                <% for(let key in application.questionAnswers) {%>
                    <div class="font-weight-bold p-1">Pytanie: <%= key.toString() %></div>
                    <div>Odpowiedź: <%= application.questionAnswers[key] %></div>
                </div>
            <% }} %>
            <% if (locals.skillNames && locals.skillNames.length) { %>
                <div>
                    <div class="text-center p-2 mt-2" style="background-color: #445766;color: white;">Wybrane umiejętności:</div>
                    <div> <%- include('../partials/skillsLister.ejs', { skills: locals.skillNames }) %></div>
                </div>
            <% } %>
            <div class="flex-item text-center">
                <a href = "../employer/manage_stage?application=<%= application._id %>"><button class="btn">Stwórz nowy etap (i zakończ bieżący)</button></a>
                <a href = "<%= lastStage ? "../employer/manage_stage?stage="+lastStage._id : "#" %>"><button class="btn">Modyfikuj bieżący etap</button></a>
            </div>
        </div>
    </div>
</div>


<%- include('../partials/footer.ejs') %>